@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body{
    background: #111;
    margin:0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: "Roboto Mono"
}
.Navigation{
    background: #0E0E0E;
    width: 100%;
    
}

.Navigation ul{
    list-style-type: none;
    text-align: left;
    margin: 0px
}

.Navigation a{
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    color: #c9c9c9;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
    overflow: hidden;
}

#Title{
    padding-top:3%
}

#AWF{
    border-radius: 50%
}

.y1960 ul{
    list-style-type: none;
    margin: 0px;
    text-align: left;
}

.y1960 li{
   padding: 10px 0% 0% 0%;
    
}

.y1980 ul{
    list-style-type: none;
    margin: 0px;
    text-align: left;
}

.y1980 li{
   padding: 10px 0% 0% 0%;
    
}

.y2000 li{
   padding: 10px 0% 0% 0%;
    
}

.y2000 ul{
    list-style-type: none;
    margin: 0px;
    text-align: left;
}

.gfm-embed{
    background-color: #2E2E2E;
    border-bottom: #2E2E2E;
    
}

.Footer{
    background: #0E0E0E;
    margin: 1% 1% 1% 1%;
    overflow: hidden;
    border-top-style: solid;
    border-top: #2E2E2E;
    
}

.Footer ul{
    list-style-type: none;
    text-align: right;
    margin:0px;
    overflow: hidden;
}

.Footer a{
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    color: #c9c9c9;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
}